@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #b5e8ff;
  --primary-color-dark: #96d1ec;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f1f1f1;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}


a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__logo .logo {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
}

.nav__links a:hover {
  color: var(--text-dark);
}

.nav__btns {
  display: none;
}

header {
  padding-top: 5rem;
  display: grid;
}

.header__content h1 {
  margin-bottom: 2rem;
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
  line-height: 5.5rem;
}

.header__content h1 span {
  color: var(--primary-color);
}

.header__btn {
  margin-block: 2rem;
  text-align: center;
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}
  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo .logo {
    font-size: 1.5rem;
    color: var(--text-dark);
  }

  .nav__logo .logo span {
    color: var(--primary-color);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__btns {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  .nav__btns .btn {
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: transparent;
  }

  .nav__btns .btn:hover {
    color: var(--primary-color);
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header__container {
  padding-block: 2rem 0;
  display: grid;
  gap: 2rem;
}

.header__content h4 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: var(--text-dark);
  text-align: center;
}

.header__content h1 span {
  font-size: 5rem;
}

.header__content h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
  text-align: center;
}

.header__btn button {
  padding-block: 0.5rem;
  padding-inline: 1.5rem 0.5rem;
  margin-inline: auto;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--text-dark);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.header__btn button span {
  padding: 5px 7px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.header__btn button:hover {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.4);
}

.header__btn button:hover span {
  background-color: rgba(0, 0, 0, 0.4);
}

 header {
    padding-top: 0;
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__content {
    grid-area: 1/2/2/3;
  }

  .header__content :is(h4, .header__btn button) {
    margin-inline-start: unset;
  }

  .header__content :is(h1, h2) {
    text-align: left;
  }

  .header__content p {
    max-width: 400px;
    text-align: left;
  }

  .header__image img {
    max-width: 400px;
  }


